.main-grid{
    display: grid;
    grid-template-columns: 16vw 42vw 42vw;
    grid-template-rows: 100vh;
}

.sidebar{
    grid-column: 1;
    grid-row: 1;
    background-color: #C3C8E1;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-auto-rows: max-content;
    padding-top:20px;
}

.wip {
    position: relative;
    width: 100%;
    height: 100%;
  }



.coding-panel{
    grid-column: 2;
    grid-row: 1;
    background-color: #E1E7FF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr 15vh;
}

.description{
    margin-top:20px;
    margin-left:20px;
}

.droppable {
    position: relative;
    margin-left:20px;
    margin-top: 20px;
    width: 200px;
    height: 600px;
  }

  .block{
    height: 40px;
    width: 100px;
    /* border-radius: 2px; */
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-right: 15px;
    /* margin-bottom: 15px; */
    text-align: center;
    padding-top: 5px;
    border: 3px solid;
}

.commands{
    position: absolute;
}

#start{
    height: 40px;
    width: auto;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #00B695;
    border: 3px solid #0f816c;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 150px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#label{
    grid-column: 1;
}

#select{
    grid-column: 2;
}

.command{
    height: 40px;
    width: 100px;
    margin-bottom: 0px;
    /* border-radius: 2px; */
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #00B695;
    border: 3px solid #0f816c;
    position: absolute;
    text-align: center;
    padding-top: 5px;
}



.buttons-panel{
    grid-row: 3;
    align-self: end;
    /* justify-self: end; */
    display:grid;
    grid-template-columns: 2fr;
}

.delete-panel{
    grid-column: 1;
    justify-self: start;
    align-self: end;
    margin-left: 10px;
    margin-bottom: 10px;
}

.action-panel{
    grid-column: 2;
    justify-self: end;
    align-self: end;
}


.round-btn{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 15px;
    margin-bottom: 15px;
}

#help-btn{
    background-color: #FBBB40;
    border: 5px solid #CF931E;
}

#play-btn{
    background-color: #40FBD9;
    border: 5px solid #00B695;
}

#play-icon{
    padding-left:8px;
}

.output{
    grid-column: 3;
    grid-row: 1;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* css example */
.App {
    text-align: center;
    width: 95%;
    margin: 15px auto;
  }
  
  

  
  .draggable {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px auto;
    line-height: 5em;
  }